<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>




  <div class="container">

    <nav class="navbar navbar-default">

    <ul class="nav navbar-nav">

      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>



    </ul>
  </nav>

  <div class="row">
    <div class="col-lg-4">
      <p>Product A</p>
      <button type="button" class="btn btn-primary">Click here to learn more</button>
    </div>
    <div class="col-lg-4">
      <p>Product B</p>
      <button type="button" class="btn btn-primary">Click here to learn more</button>
    </div>
    <div class="col-lg-4">
      <p>Product C</p>
      <button type="button" class="btn btn-primary">Click here to learn more</button>
    </div>
  </div>



      <div class="row">
        <div class="col-lg-4">
          <p>Product A</p>
          <button type="button" class="btn btn-primary">Click here to learn more</button>
        </div>
        <div class="col-lg-4">
          <p>Product B</p>
          <button type="button" class="btn btn-primary">Click here to learn more</button>
        </div>
        <div class="col-lg-4">
          <p>Product C</p>
          <button type="button" class="btn btn-primary">Click here to learn more</button>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <p>Product A</p>
          <button type="button" class="btn btn-primary">Click here to learn more</button>
        </div>
        <div class="col-lg-4">
          <p>Product B</p>
          <button type="button" class="btn btn-primary">Click here to learn more</button>
        </div>
        <div class="col-lg-4">
          <p>Product C</p>
          <button type="button" class="btn btn-primary">Click here to learn more</button>
        </div>
      </div>




    </div>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
